*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
.main{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.header{
    width: 100%;
    height: 15vh;
    background-color: rgb(5, 5, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
input{
    width: 20%;
    height: 8vh;
    font-size: 2rem;
    text-align: center;
    border: 2px solid rgb(5, 5, 133);
    color: rgb(5, 5, 133);
}
.operations{
    width: 50%;
    height: 20vh;
    border: 1px solid rgb(5, 5, 133);
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.calc-operations{
    width: 100%;
    height: 9vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.butt{
    width: 8%;
    height: 6vh;
    background-color: rgb(5, 5, 133);
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: 100;
}
#current-operations{
    color: rgb(5, 5, 133);
    margin: 7px;
}
#current-result{
    color: rgb(5, 5, 133);
    margin: 7px;
}
